/* ======================================= */
/* CSS for control sap.ushell/ShellLayout  */
/* Horizon theme                           */
/* ======================================= */

@sapUshellShellBackgroundShapesColor: @sapUiShellBackgroundPatternColor;

._sapUshellShellSubHdr { /* Testpage only */
  background-color: mix(@sapUiHighlight, @sapUiShellTextColor, 10);
  color: @sapUiTileTextColor;
}

.sapUshellShellBG {
  background-color: @sapUiShellBackground;
}

.sapUshellShellBG.sapUiShellBackgroundImage {
  background-image: @sapUiShellBackgroundImage;
  opacity: @sapUiShellBackgroundImageOpacity;
  .sapUshellBackgroundRepeatMixin;
}

.sapUshellBackgroundRepeatMixin() when (@sapUiShellBackgroundImageRepeat) {
  background-repeat: repeat;
  background-position: left top;
  background-size: auto;
}

.sapUshellBackgroundRepeatMixin() when not (@sapUiShellBackgroundImageRepeat) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sapUshellShapesDisplay() when (alpha(@sapUshellShellBackgroundShapesColor) = 0),(@sapUshellShellBackgroundShapesColor = transparent) {
  display: none;
}

.sapUshellShell canvas #shell-shapes {
  .sapUshellShapesDisplay;
}

.sapUshellShellCurtain {
  border-bottom: @sapUshellOnePixel solid @sapUiMediumBG;
  background-attachment: fixed;
  background-repeat: repeat, no-repeat;
}
